#heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    overflow-y: hidden;
    background-color: #F2E9D8;
}

.heading-content {
    flex: 1.05;
    display: flex; /* 플렉스 박스 활성화 */
    flex-direction: column; /* 수직 정렬 */
    justify-content: center; /* 콘텐츠가 세로 방향으로 가운데 정렬되도록 설정 */
    gap: 1.5rem; /* h1과 p 사이의 간격 */
    padding-right: 2rem; /* 이미지와의 간격 설정 */
}

.heading-content h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    max-width: 100%; /* 최대 너비를 100%로 설정 */
}

.heading-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    max-width: 420px;
    max-height: 86px;
}

.heading-image {
    flex: 1;
    max-width: 415px;
}

.heading-image img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: #F2E9D8;
    padding: 1rem;
    max-width: 1920px;
    max-height: 902px;
    height: 100%;
    overflow-y: hidden;
    padding: 0 320px;
}

nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 102px; /* 원하는 높이로 설정 */
    margin-top: 2px; /* 상단 여백 설정 */
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 1rem;
}

nav a:hover:not([class^="btn"]) {
    color: #000;
}

nav a:active:not([class^="btn"]) {
    color: #000;
}

nav a:not([class^="btn"]) {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
}

.nav-flex {
    display: flex;
    align-items: center;    
    justify-content: space-between;
}

.nav-flex .btn-download {
    margin-left: 3rem; /* 원하는 간격 설정 */
}