/* 큰 화면 */
@media (max-width: 1920px) {
    .container {
        padding: 0 16.67%; /* 1920px 기준으로 비율 계산 (320px / 1920px ≈ 16.67%) */
    }
}



@media (max-width: 1440px) {
    .container {
        padding: 0 12%;
    }

    /* features 섹션 */
    .feature {
        grid-template-columns: 1fr;
        gap: 50px;
        display: grid;
        justify-items: center;
        align-items: start;
    }

    .feature img {
        width: 100%;
        aspect-ratio: 22/13;
        max-width: 660px;
        height: auto;
    }

    .feature-content {
        width: 100%;
        max-width: 660px;
        padding-left: 0;
        padding-right: 0; 
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .feature-content h2, .feature-content p {
        width: 100%; /* 부모 요소의 너비에 맞춰 조정 */
        margin: 0;
        padding: 0;
    }

    /* gallery 섹션 */
    .gallery-grid{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    #gallery p{
        margin-bottom: 0px;
    }

    /* subscribe 섹션 */
    .subscribe{
        grid-template-columns: 1fr;
        height: 280px;
    }

    .subscribe h2{
        max-width: 100%;
    }
    
    .subscribe p{
        max-width: 100%;
    }

    .subscribe-form{
        width: 100%;
        margin-left: 0px;
    }

    .subscribe-form input{
        width: 500px;
    }
}


/* 중간 크기 화면 */
@media (max-width: 1024px) {
    .container {
        padding: 0 8%;
    }

    /* 인트로 섹션 */
    .intro-grid {
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }

    .intro-content, .intro-image {
        margin: 0 auto;
        padding: 0px;
        gap: 3rem;
        align-items: center;
        justify-content: center;
        flex: 0;
    }

    .intro-content h2, .intro-content p{
        max-width: 68%;
        text-align: center;
    }

    .intro-image{
        max-width: 45%;
        aspect-ratio: 1/2;
    }

    /* gallery 섹션 */
    .gallery-grid{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    /* subscribe 섹션 */
    .subscribe-form input{
        width: 300px;
    }

}

/* 모바일 화면 1 */
@media (max-width: 768px) {
    .container {
        padding: 0 5%;
    }
}

/* 모바일 화면 2 */
@media (max-width: 390px){
    body {
        min-width: 390px; 
        overflow-x: auto; 
    }

    header {
        min-width: 390px;
    }

    .container {
        padding: 0 32px;
    }
    
    /* button */
    .btn-download, .btn-more, .btn-download-intro {
        width: 114px;
        height: 40px;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        text-align: center;
    }

    /* navbar 섹션 */
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 74%;
        height: 100vh;
        background: #263140;
        position: fixed;
        top: 0;
        right: -10%;
        padding: 20px;
        transition: right 0.3s ease;
        z-index: 1000;
    }

    .navbar-menu.open {
        right: 0;
    }

    .navbar-menu li {
        list-style: none;
        margin: 20px 0;
    }
    
    .navbar-menu li a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }

    .navbar-menu li a:not([class^="navbar"]){
        margin-left: 25px;
    }

    .btn-download{
        margin: 50px 0 0 -2px;
    }

    .navbar-toggleClose-btn{
        display: block;
        margin-bottom: 56px;
        border:none;
        background: none;
    }

    .navbar-togglebtn{
        display: block;
        background: none;
        border: none;
    }

    /* intro 섹션 */
    .intro-content {
        width:100%;
        padding-right: 0;
        margin: 0;
    }

    .intro-content h2{
        /* width: 251px; */
        /* height: 90px; */
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
    }

    .intro-content p{
        /* width: 270px;
        height: 98px; */
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-align: center;

    }

    /* subscribe 섹션 */
    .desktop-btn{
        display: none;
    }

    .mobile-btn-box{
        display: flex;
        justify-content: flex-end;
    }

    .mobile-btn{
        display: block;
        width: 115px;
        height: 40px;
        border-radius: 40px;
        background: #D97652;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        text-align: center;
    }

    .subscribe{
        height: 348px;
    }

    .subscribe-content p{
        width: 262px;
        height: 72px;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
    }

    .subscribe-content h2{
        width: 187px;
        height: 60px;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        text-align: left;
    }

    .subscribe-form{
        width: 262px;
        height: 40px;
        justify-items: start;
        margin-bottom: 20px;
    }

    .subscribe-form input{
        width: 144px;
        height: 15px;
        font-size: 12px;
    }

    .subscribe-form img{
        width: 15px;
        height: 15px;
    }

    .modal-img img{
        width: 80px;
        height: 62px;
    }

    .modal-img{
        width: 80px;
        height: 62px;
    }

    .modal-content h2{
        font-size: 24px;
        line-height: 30px;
    }

    .modal-content p{
        font-size: 14px;
        line-height: 18px;
        width: 189px;
        height: 36px;
    }

    .modal-button-box{
        width: 158px;
        height: 40px;
    }

    .modal-button-box button{
        width: inherit;
        height: inherit;
        font-size: 14px;
        line-height: 18px;
    }

    /* footer 섹션 */
    .footer-logo img    {  
        width: 112px;
        height: 34px;
    }

    .social-links a img {
        width: 32px;
        height: 32px;
    }

    .footer-content{
        flex-direction: column;
        justify-items: start;
        align-items: start;
    }

    .mobile-footer-content{
        display:grid;
        grid-template-columns: 1fr 1fr;
        margin: 30px 5px;
        max-height: 178px;
    }

    .mobile-link {
        display: flex;
        flex-direction: column;
        text-align: end;
        margin-right: 22px;  
        justify-content: space-between;
    }

    .mobile-link li{
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: #767676;
    }

    .mobile-link a{
        text-decoration: none;
    }

    .mobile-link a:hover {
        color: #767676; 
        text-decoration: none; 
    }
    
    .mobile-link a:active {
        color: #767676; 
        text-decoration: none; 
    }
    
    .mobile-link a:visited {
        color: #767676; 
        text-decoration: none; 
    }

    /* scroll-top */
    #scroll-top{
        display: none;
    }
}